@primary_background_color:       #f28d2b;
@secondary_background_color:     #80a111;
@border_color:                   #d4d4d4;

//containers layout
.container_24:not(.header-container){
    margin-bottom:          15px;
    &:after{
        content:            "";
        clear:              both;
        display:            block;
    }
    &.em-footerinfo{
        margin-bottom:      0px;   
    }
}

//top links
.f-left{
    p.welcome-msg{
         color:     @primary_background_color;
    }
    ul.links li a{
        color:     @primary_background_color; 
    }
}

//navigations
.em_nav .vnav, .menu-left{
    left:                   0px !important;   
}
.em_nav {
    border:                 2px solid @primary_background_color;
    border-radius:          3px;
}
.em_nav_wrapper {
    border:                 none !important;
}
#menuleft li.menu-item-link{
    a.menu-item-link{
        padding:                6px 10px 6px 30px !important;
        img{
            vertical-align:     middle !important;   
        }
        span:first-of-type{
            margin-right:       8px;
        }
    }
}
#em-hnav{
    li{
        background:             none !important;
        &:hover{
            background-color:    @secondary_background_color !important;
            a{
                color:               #ffffff !important;
            }
        }
    }
}

//bottom links
.em-area10{
    border-top:                     none !important;
    border-bottom:                  none !important;
    padding-top:                    20px;
    background:                     linear-gradient(to bottom, #ffffff 0%, #ebebeb 40%) repeat scroll 0 0 rgba(0,0,0,0) !important;
    margin-bottom:                  0px !important;
    p.h5{
        color:                  @primary_background_color;
        border-left:            8px solid @primary_background_color;
        padding-left:           13px !important;
        background:             none !important;
        margin-left:            50px;
    }
    ul{
        padding-left:           23px !important;
        margin:                 0px 0px 0px 50px !important;
        li{
           a{
                background:         none !important; 
                padding-left:       0px !important;
           }
        }
    }
    .omega p{
        padding-left:               20px !important;
        &:nth-of-type(1){
            background:                 url("../../images/paipai_address_icon.png") no-repeat scroll left center rgba(0,0,0,0);
        }
        &:nth-of-type(2){
            background:                 url("../../images/paipai_phone_icon.png") no-repeat scroll left center rgba(0,0,0,0);
        }
        &:nth-of-type(3){
            background:                 url("../../images/paipai_email_icon.png") no-repeat scroll left center rgba(0,0,0,0);
        }
    }
}

//bottom payment and social 
.em-area11{
    padding:                20px 0px 60px 0px;
    background:             linear-gradient(to bottom, #ebebeb 40%, #ebebeb 100%) repeat scroll 0 0 rgba(0,0,0,0) !important;
    .grid_12.alpha{
        p:first-of-type{
            padding-left:       50px; 
        }
    }
    .grid_12.omega{
        p:last-of-type{
            padding-right:      50px; 
        }
    }
}

//footer 
.footer{
    background-color:      @primary_background_color;
    color:                 #ffffff;
    p{
        margin:             0px;   
    }
}

//cart
#link-top-cart{
    background-color:       @primary_background_color;
    a{
        background:                 none !important;
        span{
            color:                  #ffffff;
        }
    }
}
#displayTextCart{
    height:                 37px;
}
    

//vertical navigation
.shopby-title{
    text-align:                 center; 
    background-color:           @primary_background_color;
    a{
        background:             none !important;
        color:                  #ffffff !important;
    }
}

//breadcrumbs
.breadcrumbs{
    li strong{
        color:              @primary_background_color !important;   
    }
}
label.required{
    em{
        color:              @primary_background_color !important;
    }
}
p.required{
    color:                  @primary_background_color !important;   
}

.page-title{
    border-left:                8px solid @primary_background_color !important;
    h1{
        font-size:              15px !important;
        font-weight:            100 !important;
        color:                  @primary_background_color !important;
        padding:                6px 16px !important;
        background:             none !important;
    }
}
.box-head{
    border-left:                6px solid @primary_background_color;
    h2{
        color:                  @primary_background_color !important;
        padding:                6px 16px !important;
    }
}

//.container_24 .paipai-home-best-prod.grid_5 {width: 200px;}
//.container_24 .paipai-home-feature-prod.grid_14 {width: 560px;}

.checkout-step-payment {
    padding:                15px 20px 20px;
}

// ******************************************
// ***        Font size change     **********
// ******************************************
.font_regular() {
    font-size:              14px;
    font-weight:            100;
}
.font_large() {
    font-size:              15px;
    font-weight:            100;
}

// Top Header
.header.small {
    font-size:              13px;
    font-weight:            100;
}

// search box
.header-container .input-cate, .header-container .input-search {
    .catsearch-dropdown {
        .font_regular();   
    }
}
#search {
    .font_regular();   
}

// cart sidebar
#cart-sidebar .product-details {
    .btn-remove {
        left:           2px;
    }
    .btn-edit {
        left:           0px;
        top:            25px;
    }
}
.top-cart-content .button.button, a.manage-address {
    .font_large();   
}

// Vertical Nav
#menuleftText a {
    .font_large();
}
.em-catalog-navigation {
    .font_regular();   
}

// Horizontal Nav
div.em_nav .hnav li.menu-item-depth-0 > a, .em-catalog-navigation.horizontal li.level0 > a {
    .font_large();
}
div.em_nav .hnav li {
    width:              120px;  
    text-align:         center;
}

// shopping cart icon
#topcartlink {
    .font_large();   
}

// breakcrumb
.breadcrumbs a, .breadcrumbs strong {
    .font_regular();   
}

// footer
.em-area10 .widget {
    .grid_6 p.h5 {.font_large();}
    ul {.font_regular();}
    .grid_6 p {.font_regular();}
}

// toolbar
div.toolbar {
    .font_regular();   
}
        

// ------------------ Home page -----------------------
div.ui-tabs-nav .tabs_control li {
    a {.font_large();}
}
div.widget-products .product-name a {
    .font_regular();   
}
.regular-price .price {
    .font_regular();   
}
// ----------------- Product detail page --------------------
div.block .block-title strong span {
    .font_large();   
}

// bestseller product
.paipai-sidebar-elem {
    .font_regular();
    .product-name a {
        .font_regular();   
    }
}

// price
div.product-view .product-shop .price-box .price {
    .font_large();
    font-size:          19px;
}

// product detail item
.product-shop .product-info-item{
    .font_large();   
}

// add to cart button
div.product-view .add-to-cart button.button span {
    .font_large();   
}

// review list left
.review-list {
    .font_regular();
}

// review list right
div.product-view .form-add {
    .font_regular();
    h3 {.font_regular();}
    #review-form h4 {.font_regular();}
    button.button, a.manage-address {
        .font_large();   
    }
}

// --------------- CONTACT PAGE ------------------
#contactForm {
    input.input-text, select, textarea {
        .font_regular();
    }
    button.button, a.manage-address {
        .font_large();
    }
    .font_regular();
}

// -------------- Category Product Page -------------------
.category-products {
    .product-name h3, .product-name h4, .product-name h2, .product-name a {
        .font_regular();
        display:            block;
        max-height:         35px;
        overflow:           hidden;
    }
    .products-grid .price-box {
        margin-bottom:      0px;
        .old-price, .price {
            .font_regular();   
        }
    }
}
div.category-products .products-grid li.item .actions {
    padding-top:        10px;   
}
div.category-products .products-grid li.item:hover .price-box .price-label, 
div.category-products .products-grid li.item:hover .price-box .label{
    display:            inline;   
}
div.category-products .products-grid li.item:hover .price-box {
    display:            block;
}
div.category-products .products-grid li.item:hover .price-box {
    .price {
        color:              #F28D2B;
        font-size:          14px;
    }
    .old-price .price {
        color:              #999;  
    }
}
div.category-products .products-grid li.item .price-hover {
    display:            none;   
}
.pager .pages li.current { color: #F28D2B; }

// ----------------- SHOPPING CART ----------------------
.cart {
    .data-table th {
        .font_regular();   
    }
    .product-name h3, .product-name h4, .product-name h2, .product-name a {
        .font_regular();   
    }
    .price {
        .font_regular();   
    }
    .button.button, a.manage-address {
        .font_large();   
    }
    .cart-table tfoot td button.button.btn-continue {
        .font_large();
    }
    input.input-text, select, textarea {
        .font_regular();   
    }
}
div.cart {
    .cart-collaterals h2 {
        .font_large();   
        font-weight:            bold;
    }
    .discount label {
        .font_regular();   
    }
    .shipping-form p {
        .font_regular();
    }
    .shipping-form label {
        .font_regular();   
    }
    .cart-collaterals .totals tbody td{
        .font_regular();   
    }
}

// ---------------- CHECKOUT PAGE -------------------
#checkout-progress-wrapper {
    .block-progress .block-content dt {
        .font_regular();   
    }
    .block-progress dd address {
        font-size:          12px;
        border:             1px solid grey;
        padding:            10px;
    }
}
#checkoutSteps {
    .font_regular();
    
    input.input-text, select, textarea, button.button, 
    a.manage-address .block .actions a, .buttons-set p.back-link a{
        .font_regular();   
    }
    &.opc li .step h4, &.opc li .step h3{
        font-size:              14px;
    }
    #checkout-step-shipping_method dl dd, 
    #checkout-step-shipping_method dl dt,
    #checkout-payment-method-load dt{
        .font_regular();   
    }
    .price {
        .font_regular();
    }
}

// ---------------- ORDER REVIEW PAGE --------------------
#order_review_form {
    ul ul, ul ol, ol ol, ol ul {
        .font_regular(); 
    }
    input.input-text, select, textarea, button.button, 
    a.manage-address .block .actions a, .buttons-set p.back-link a,
    table, .data-table th, .product-name, .price {
        .font_regular();   
    }
    .data-table th {
        min-width:          30px;   
    }
}

// ------------------- ORDER SUCCEED PAGE --------------------
body.checkout-onepage-success {
    .font_regular();
    h2.sub-title {
        .font_regular();
        margin-top:         20px;
    }
    .page-title {
        .font_large();
        background: linear-gradient(to bottom, #FFF 0%,#EBEBEB 100%);
    }
}

// ------------------- LOGIN/REG PAGE --------------------------------
.account-create form, .account-login form{
    .font_regular();
    h2 .fieldset .legend{
        font-size:              14px;
    }
    input.input-text, select, textarea, button.button, 
    a.manage-address .block .actions a, .buttons-set p.back-link a{
        .font_regular();   
    }
}

// ---------------------- USER DASHBOARD ---------------------------
.my-account {
    .font_regular();
    .dashboard .welcome-msg {
        .font_regular();
    }
    .box-head h2 {
        .font_large();   
    }
    .box-info .col-1 .box-title h3, .box-info .col-2 .box-title h3 {
        font-size:              14px;   
    }
    .box-title a {
        .font_regular();   
    }
    button.button,.block .actions a, .buttons-set p.back-link a {
        .font_large();
    }
}
.col-left .block.block-account {
    .font_regular();   
}
