@primary_background_color:       #f28d2b;
@secondary_background_color:     #80a111;
@border_color:                   #d4d4d4;
@category_height:       250px;
@category_title_height: 30px;
@category_title_bg:     #EBEBEB;
.ui-tabs .ui-tabs-nav li.ui-corner-top{
    float:                  left;
    a{
        margin-bottom:      0px;  
    }
}
//top links
.f-left{
    p.welcome-msg{
         color:     @primary_background_color;
    }
    ul.links li a{
        color:     @primary_background_color; 
    }
}

//brand list
#brands{
    border:                     1px solid @border_color;
    .brand-title{
        font-size:              16px;
        text-align:             center;
        line-height:            68px;
        background-color:       @primary_background_color;
        color:                  #ffffff;
    }
    li.itemslider{
        a{
            display:            block;
            text-align:         center;
        }
    }
}
.csslider .controls a{
    top:                        29px !important;   
}

//tabs
.tabs_control{
    li.ui-state-default{
        a{
            background:       @primary_background_color !important;
            color:               #ffffff !important; 
            padding:             10px 18px !important;  
        }
        &.ui-tabs-selected, &:hover{
            a{
                background:    @secondary_background_color !important;
            }
        }
    }   
}
.new-product-item{
    border-right:             1px solid @border_color;
    padding-right:            20px !important;
    &:last-child{
        border-right:           0px;   
    }
    .product-name{
        text-align:             right;   
    }
    .price-box{
        text-align:             right;   
    }
}

.paipai-home-category {
    margin-bottom:          20px;
    height:                 252px;
    .box {border:           none;}
    .paipai-home-category-title{
        background:         linear-gradient(to bottom, #ffffff 0%, @category_title_bg 100%) repeat scroll 0 0 rgba(0 ,0, 0, 0); 
        height:             @category_title_height;
        line-height:        @category_title_height;
        border-left:        7px solid @primary_background_color;
    }
    .paipai-home-best-prod {
        height:             @category_height;
        border:             1px solid @border_color;
        border-right:       none;
        .paipai-home-category-title {
            text-align:         center;
        }
    }
    .paipai-home-feature-prod {
        height:             @category_height;
        border:             1px solid @border_color;
        .paipai-home-category-title {
            text-indent:        30px;   
        }
        .products-grid {
            margin-top:         20px;
        }
        .controls a {
            top:                10px;   
        }
    }
    .paipai-home-new-prod {
        height:             @category_height;
        border:             1px solid @border_color;
        border-left:        none;
        overflow:           hidden;
        .paipai-home-category-title {
            text-indent:        30px;   
        }
        .products-list {
            margin-left:        30px;   
        }
        .widget-products .products-list .itemslider {
            padding-top:        10px;
            padding-bottom:     10px;
        }
    }
}